@model RezaHub.ViewModels.UserFormViewModel
@{
    ViewData["Title"] = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New User</h1>
@using (@Html.BeginForm("Save", "User"))
{
<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m=>m.Name)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.GroupId)
    @Html.DropDownListFor(m => m.GroupId,new SelectList(Model.Groups,"Id","Name"), "Select Group Type",new { @class = "form-control" })
    @Html.ValidationMessageFor(m=>m.GroupId)
</div>

@Html.HiddenFor(m=>m.Id)
@Html.AntiForgeryToken()
<button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




